on: [push, pull_request]

name: Continuous integration

jobs:
  format-check:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
            submodules: recursive
      - run: |
          cmake -B build -S .
          cmake --build build --target clang-format-check
  test-check:
    name: Run Tests (in Docker)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
            submodules: recursive
      - run: |
          docker build -t packetline:latest -f docker/Dockerfile .
          docker run packetline:latest
  test-unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
            submodules: recursive
      - run: |
          ./test/run_unit_tests.sh
